html {
    background-color: rgb(107, 156, 221);
    margin-left: 300px;
    font-size: 25px;
    color: lightyellow;
    margin-top: 40px;
}
input {
    height: 35px;
    border-radius: 10px;
    outline: 0;
    border-style: solid;
    margin-left: 15px;
    margin-bottom: 20px;
    border-color: rgb(107, 156, 221);
    width: 180px;
}
input:focus {
    border-color:thistle;
}
button {
    height: 30px;
    border-radius: 10px;
    outline: 0;
    border-style: solid;
   cursor: pointer;
   margin: 10px;
   margin-left: 174px;
   border-color: white;
   height: 32px;
   width: 180px; 
}
button:hover {
    background-color: rgb(107, 156, 221);
    color: white;
}
table {
    border: 0;
    border-collapse:collapse;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 20px;
}
td {
    width: 200px;
    padding-top: 10px;  
}
tr {
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.08),
      0px -3px 5px 3px rgba(0, 0, 0, 0.08);
}
  